<div class="wider-card-margins">
<div class="page-header">
  <h3>Thank you for your feedback!</h3>
</div>

<div class="pull-left">
  <div class="btn-toolbar">
    <a class="btn btn-lg btn-primary" href="/">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <span class="after-glyphicon">Home</span>
    </a>

    <button class="btn btn-lg btn-default"
        ng-click="">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      <span class="after-glyphicon">Pratice again</span>
    </button>
  </div>
</div>
</div>

<div class="clearfix"></div>
