<div id="final-feedback">
  <div class="wider-card-margins">
  <div class="page-header">
    <h3>What is your general impression from this session?</h3>
    <div class="note">Your answer helps us to improve practicing experience.</div>
  </div>

  <div class="pull-left">
    <div class="btn-toolbar">
      <button class="btn btn-lg btn-danger"
          ng-click="finalFeedback('bad')">
          Bad
      </button>

      <button class="btn btn-lg btn-primary"
          ng-click="finalFeedback('so-so')">
          So-so
      </button>

      <button class="btn btn-lg btn-success"
          ng-click="finalFeedback('good')">
          Good
      </button>
    </div>
  </div>

  </div>
  <div class="clearfix"></div>
</div>
