<!DOCTYPE html>
<html lang="en" ng-app="smartooApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Application for efficient practicing of anything."/>
    <meta name="keywords" content="practice, exercises, questions, adaptive, intelligent" />

    <title>{% block title %}Smartoo{% endblock %}</title>

    <!--<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>-->

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body ng-controller="mainController">

    <!-- TODO: robot, smartoo, neural networks theme, feedback, social buttons-->

    {% block content %}{% endblock %}

    <div class="container" id="footer">
        <span class="pull-left">
          <div class="btn-toolbar">
            <button type="button" class="navbar-btn btn btn-primary">Write to us</button>
            <button type="button" class="navbar-btn btn btn-primary">Credits</button>
          </div>
        </span>
        <span class="pull-right">
          <a href="http://www.fi.muni.cz/adaptivelearning/" class="">
            <img src="/static/img/alg-logo-small.png" alt="Adaptive Learning Group logo"/>
          </a>
          <a href="http://www.fi.muni.cz/index.xhtml.en" class="">
            <img src="/static/img/fi-logo.png" alt="Faculty of Informatics, Masaryk University logo"
              height="80px"/>
          </a>
        </span>
      <!--<div class="clearfix"></div>-->
    </div>

    <!-- ========== -->
    <!-- javascript -->
    <!-- ========== -->

    <!-- NOTE: jQuery is necessary for Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/smartoo.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
