{% extends "smartoo/base.html" %}

{% block title %}Smartoo - practice anything{% endblock %}


{% block content %}
<div ng-controller="homeController" class="full-page-cover">
  <div class="container vertical-center">
      <h1>Practice anything</h1>
      <p id="searchbox-info">
      Type a topic or copy a URL of any
      <a href="http://en.wikipedia.org/">Wikipedia</a>
      article.
      </p>
      <div class="space-below center-limit-width">
        <div class="input-group">
          <input type="text" class="form-control"
              placeholder="Wars of the Roses, Abraham Lincoln, Elephant, ..."
              ng-model="searchText">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="practice($event)">Practice!</button>
          </span>
        </div>
      </div>
  </div>
</div>

<!-- TODO: text (about, Wiki and DBpedia, ...)-->
<div class="container">
    <h1 class="page-header">About the Project</h1>
    <p>
    The project was created in 2015 as a bachelor thesis
    of
    <a href="http://is.muni.cz/person/410350?lang=en">Tomáš Effenberger</a>
    at the
    <a href="http://www.fi.muni.cz/index.xhtml.en">Faculty of Informatics, Masaryk University</a>.
    The aim was to create an application for practicing facts
    from any article on the
    <a href="http://en.wikipedia.org/">Wikipedia</a>.
    </p>

    <!--<h2>Credits</h2>-->
    <p>
    TODO: credit to Wikipedia and DBpedia
    </p>

    <!--<h2>Some very clever text</h2>-->
    <p>
    TODO... (anything I would like to say and somebody would like to now)
    </p>
</div>

<div class="container filler"></div>
{% endblock %}


{% block javascript %}
<script src="/static/home.js"></script>
{% endblock %}
