{% extends "smartoo/base.html" %}

{% block title %}Practice session | Smartoo{% endblock %}


{% block content %}
<div class="background-wrapper">
  <!--<p>Topic: {{ topic }}</p>-->

  <div class="container">
  <div ng-controller="practiceController" ng-view id="working-area" class="card">

    <!-- session info -->
      <!--<span class="glyphicon glyphicon-book" aria-hidden="true"></span>-->
      <!--<a href="{{ topicURI }}" target="_blank">{{ topic }}</a>         -->
      <!--<hr>                                                             -->

      <span id="session-info">
        <ol class="breadcrumb">
          <li>
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
              <span class="after-glyphicon">
              Topic: <a href="{{ topicURI }}" target="_blank">{{ topic }}</a>
              </span>
          </li>
        </ol>
      </span>

  <!--<nav class="navbar navbar-default">                                  -->
  <!--  <p class="navbar-text">                                            -->
  <!--    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>-->
  <!--    <a href="{{ topicURI }}" target="_blank">{{ topic }}</a>         -->
  <!--  </p>                                                               -->
  <!--</nav>                                                               -->

    <!-- area for waiting wheel / exercise / feedback / final report -->

      <!--<div ng-show="state == 'waiting'">-->
      <!--  false                           -->
      <!--</div>                            -->
      <!--<div ng-show="state == 'error'">  -->
      <!--  true                            -->
      <!--</div>                            -->

    <!--<div ng-switch="state">                                                  -->
    <!--  <div ng-swith-when="waiting">                                          -->
    <!--    [><div ng-include="'/static/partials/waiting.html'"></div><]         -->
    <!--    error                                                                -->
    <!--  </div>                                                                 -->
    <!--  <div ng-swith-when="error">                                            -->
    <!--    <div ng-include="'/static/partials/error-message.html'"></div>       -->
    <!--    chyba                                                                -->
    <!--  </div>                                                                 -->
    <!--  <div ng-swith-when="exercise">                                         -->
    <!--    [><div ng-include="'/static/partials/error-message.html'"></div><]   -->
    <!--    exercise                                                             -->
    <!--  </div>                                                                 -->
    <!--</div>                                                                   -->

    <div ng-show="state == 'waiting'">
      <div ng-include="'/static/partials/waiting.html'"></div>
    </div>

    <div ng-show="state == 'exercise'">
      <div ng-include="'/static/partials/exercise.html'"></div>
    </div>

    <div ng-show="state == 'final-feedback'">
      <div ng-include="'/static/partials/final-feedback.html'"></div>
    </div>

    <div ng-show="state == 'after-final-feedback'">
      <div ng-include="'/static/partials/after-final-feedback.html'"></div>
    </div>

    <div ng-show="errorMessage">
      <div ng-include="'/static/partials/error-message.html'"></div>
    </div>

  </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
    <script src="/static/practice.js"></script>
{% endblock %}
