{% extends "smartoo/base.html" %}

{% block title %}Practice session | Smartoo{% endblock %}


{% block content %}
<div class="background-wrapper">

  <div class="container">
  <div ng-controller="practiceController" ng-view id="working-area" class="card">

    <div ng-include="'/static/partials/topic-panel.html'"></div>

    <div ng-show="state == 'waiting'">
      <div ng-include="'/static/partials/waiting.html'"></div>
    </div>

    <div ng-show="state == 'exercise'">
      <div ng-include="'/static/partials/exercise.html'"></div>
    </div>

    <div ng-show="state == 'final-feedback'">
      <div ng-include="'/static/partials/final-feedback.html'"></div>
    </div>

    <div ng-show="state == 'after-final-feedback'">
      <div ng-include="'/static/partials/after-final-feedback.html'"></div>
    </div>

    <div ng-show="errorMessage">
      <div ng-include="'/static/partials/error-message.html'"></div>
    </div>

  </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
    <script src="/static/practice.js"></script>
{% endblock %}
