{% extends "smartoo/base.html" %}

{% block title %}Practice session | Smartoo{% endblock %}


{% block content %}
<div class="background-wrapper">
  <!--<p>Topic: {{ topic }}</p>-->

  <div class="container">
  <div ng-controller="practiceController" ng-view id="working-area" class="card">
    <!-- area for waiting wheel / exercise / feedback / final report -->

      <!--<div ng-show="state == 'waiting'">-->
      <!--  false                           -->
      <!--</div>                            -->
      <!--<div ng-show="state == 'error'">  -->
      <!--  true                            -->
      <!--</div>                            -->

    <!--<div ng-switch="state">                                                  -->
    <!--  <div ng-swith-when="waiting">                                          -->
    <!--    [><div ng-include="'/static/partials/waiting.html'"></div><]         -->
    <!--    error                                                                -->
    <!--  </div>                                                                 -->
    <!--  <div ng-swith-when="error">                                            -->
    <!--    <div ng-include="'/static/partials/error-message.html'"></div>       -->
    <!--    chyba                                                                -->
    <!--  </div>                                                                 -->
    <!--  <div ng-swith-when="exercise">                                         -->
    <!--    [><div ng-include="'/static/partials/error-message.html'"></div><]   -->
    <!--    exercise                                                             -->
    <!--  </div>                                                                 -->
    <!--</div>                                                                   -->

    <div ng-show="state == 'waiting'">
      <div ng-include="'/static/partials/waiting.html'"></div>
    </div>

    <div ng-show="state == 'exercise'">
      <div ng-include="'/static/partials/exercise.html'"></div>
    </div>

    <div ng-show="errorMessage">
      <div ng-include="'/static/partials/error-message.html'"></div>
    </div>

  </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
    <script src="/static/practice.js"></script>
{% endblock %}
